{{#each secrets}}<!-- {{this}} -->
{{/each}}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{#if title}}
      <title>{{title}}</title>
      <meta property="og:title" content="{{title}}" />
    {{else}}
      <title>dreamwiki!</title>
      <meta property="og:title" content="dreamwiki!" />
    {{/if}}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://dreamwiki.sixey.es/og.png" />
    <meta property="og:url" content="https://dreamwiki.sixey.es/{{filename}}/" />
    <style>
      body {
        background-color:{{ colour.wall }};
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        color: {{ colour.prim }};
        font-size: 15px;
      }
      pre {
        margin:0 auto;
        display:block;
        width:700px;
        text-align:center;
      }
      .grime {
        color:{{ colour.grime }};
      }
      a:link, a:visited {
        color:{{ colour.hint }};
        text-decoration:none;
      }
      a.link:link, a.link:visited {
        color:#fff;
        text-decoration:none;
      }
      a:hover, a:active {
        color:{{ colour.grime }} !important;
        background: none !important;
      }
    </style>
</head>
<body>
    <main>
    {{{body}}}
    <br style="clear:both;" />
    </main>
</body>
</html>